<ion-content class="game-container">
  <h2>{{ groupName }}</h2>
  <h3>{{ questions[currentQuestionIndex].question }}</h3>
  <img [src]="questions[currentQuestionIndex].image" class="character-image" alt="Personaje" />

  <div class="drag-area">Arrástralas aquí!</div>
  <div class="drop-container">
    <div *ngFor="let slot of answerSlots; let i = index" class="drop-zone" [ngClass]="feedback[i]" (drop)="drop($event, i)" (dragover)="allowDrop($event)">
      {{ slot }}
    </div>
  </div>

  <div class="word-container">
    <div *ngFor="let word of words" class="word" draggable="true" (dragstart)="drag($event, word)">{{ word }}</div>
  </div>

  <ion-button (click)="checkAnswer()">Responder</ion-button>
  <p class="score">Puntuación: {{ score }}</p>
</ion-content>
