
<div class="modal-overlay" *ngIf="showInfoModal && !hasShownInfoModal">
  <div class="info-modal">
    <div class="info-image-container">
      <img [src]="infoImage" class="info-image" alt="Instrucciones">
      <div class="info-overlay-text">
        <h2>¡Bienvenido!</h2>
        <p>Arrastra las silabas a los espacios en blanco para formar la palabra correcta.</p>
        <p>Haz clic en "Verificar" cuando estés listo para responder.</p>
        <p>Tienes intentos limitados, ¡así que piénsalo bien!</p>
        <p class="info-highlight">¡Ordena las Silabas!</p>
      </div>
    </div>
    <ion-button class="accept-button" (click)="closeInfoModal()">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      Aceptar
    </ion-button>
  </div>
</div>

<div class="pagina-completa" [ngStyle]="{'background-image': 'url(' + fondo + ')'}">
  <!-- Header con el nombre del grupo -->
  <h1 class="nombre-grupo">{{ groupName }}</h1>

  <!-- Intentos restantes -->
  <div class="intentos-container">
    Intentos restantes: {{ 2 - intentosFallidos }}
  </div>

  <!-- Puntos y preguntas restantes -->
  <div class="puntos-container">
    Puntos: {{ puntos }}
  </div>
  <div class="preguntas-restantes-container">
    Preguntas restantes: {{ preguntas.length - palabraActualIndex }}
  </div>

  <!-- Pregunta -->
  <div class="pregunta">
    <h1>{{ preguntas[palabraActualIndex] }}</h1>
  </div>

  <!-- Imagen -->
  <div class="imagen-container">
    <img [src]="imagenes[palabraActualIndex]" alt="Imagen de la pregunta" class="imagen-pregunta">
  </div>

  <div class="juego-container">
    <div class="silabas-container">
      <div *ngFor="let silaba of silabas[palabraActualIndex]"
           class="silaba"
           draggable="true"
           (dragstart)="onDragStart($event, silaba)"
           (touchstart)="onTouchStart($event, silaba)"
           (touchmove)="onTouchMove($event)"
           (touchend)="onTouchEnd($event)">
        {{ silaba }}
      </div>
    </div>
    <div class="huecos-container">
      <div *ngFor="let hueco of huecos; let huecoIndex = index"
           class="hueco"
           (drop)="onDrop($event, huecoIndex)"
           (dragover)="onDragOver($event)"
           (touchend)="onTouchEnd($event, huecoIndex)"> <!-- Pasar huecoIndex aquí -->
        {{ hueco }}
      </div>
    </div>
  </div>

  <!-- Botón y mensaje -->
  <div class="acciones-container">
    <button class="boton-verificar" (click)="verificarRespuesta()">Verificar</button>
    <div *ngIf="mensaje" class="mensaje" [ngClass]="animacion">
      {{ mensaje }}
    </div>
  </div>
</div>
