.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('/assets/Imagenes/LibroIluminado.jpg') no-repeat center center/cover;
}
.input-group {
  width: 80%;
  max-width: 400px;
  margin: 20px 0;
}
.button-group {
  display: flex;
  gap: 15px;
}
.button-group button {
  flex: 1;
}
